<header>
  <!-- <img src="/2.jpeg" width="100%" height="500px" alt=""> -->
  <div class="introduction">
    <p>Starling Interior</p>
  </div>
  <div class="intro">
    <p>We are growing company</p>
    <p> which focuses on outstanding interior design.</p>
  </div>
</header>
