<header>
  <!-- <img src="/2.jpeg" width="100%" height="500px" alt=""> -->
  <div class="introduction">
    <p>Starlings Interior</p>
  </div>
  <div class="intro">
    <p>yeah</p>
  </div>
</header>
