<!DOCTYPE html>
<html>
  <head>
    <title>Starling</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="column">
      <div class="col-md-3">
        <img src="http://starling.co.ke/images/yootheme/demo/default/1.png" alt="">
      </div>
      <div class="col-md-7">
        <div class="col-md-3" style="color:orange;">
          <p>Home</p>
        </div>
        <div class="col-md-3">
          <p>About Us</p>
        </div>
        <div class="col-md-3">
          <p>Portfolio</p>
        </div>
        <div class="col-md-3">
          <p>Blog</p>
        </div>
      </div>
      <div class="col-md-2">
        <p>Contact Us</p>
      </div>
    </div>
    <div class="container-fluid">
      <div class="body">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
